
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header {
    background-image: url('./img/face2.jpg');
} */
/* .main-col {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 15px;
} */